[2020-01-13 20:17] chrisguindon opened #1 "Host sparkplug.eclipse.org on Eclipse Infrastructure"
Similar to Host openadx.eclipse.org on Eclipse Infrastructure #12 EclipseFdn/openadx.eclipse.org#12, we would like to host this website on our cluster.

[2020-01-16 20:05] chrisguindon opened #2 "Create initial look and feel for sparkplug.eclipse.org"
The initial website will have 2 pages, the homepage and a FAQ page.

## Homepage content/section:
- Jumbotron
- News and Events
- Mission Statement
- Our Founding Members
- Testimonials
- FAQ teaser
- Featured footer for promoting mailing list.

## Typography
- @font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

## Color pallette:
- @brand-primary: #396894; // Bl

[2020-01-16 20:08] chrisguindon commented on #2
@ChristieWittEclipse

The @brand-gradient and @brand-gradient-color are new and from edgenative website. We will want to define new color values for this site unless we want to use background images.

We also need to create graphics (branding): svg logo, social media image and favicons.

Finally, please let me know if we should use a different font!

[2020-01-16 21:19] ChristieWittEclipse commented on #2
@chrisguindon

The font choice is fine as is: @font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

Color pallette update:

@brand-primary: #1F769D; // Blue

@brand-secondary: #5997BD; // Light Blue

@brand-tertiary: #213970; // Dark Blue

@brand-quaternary: #efefef; // Light Gray

@brand-quinary: @brand-quaternary; // Light Gray (Breadcrumbs)

@brand-info: @brand-

[2020-01-17 12:43] chrisguindon commented on #2
Thanks @ChristieWittEclipse

An alpha version of the site is now available via: https://eclipsefdn-sparkplug.netlify.com/

[2020-01-17 13:20] chrisguindon commented on #1
@mbarbero I created a jenkins job for this website based off what we did for edgenative.eclipse.org:
https://foundation.eclipse.org/ci/webdev/job/sparkplug.eclipse.org/

I believe that @eclipsewebmaster created an entry for sparkplug.eclipse.org so we should be ready to move this to our cluster!

[2020-01-17 13:24] chrisguindon commented on #1
webhook is also configured!

[2020-01-17 14:51] chrisguindon commented on #1
@mbarbero You might want to hold off on this, Matt W. seems to be volunting himself to get this done!

[2020-01-17 19:23] eclipsewebmaster commented on #1
I've run the deployment and re-run the build and sparkplug.eclipse.org is now live.

[2020-01-17 19:23] #1 closed, assigned to mbarbero, eclipsewebmaster

[2020-01-20 16:07] ChristieWittEclipse commented on #2
Thanks @chrisguindon, please do a find/replace of the orange #FAAE44 and change it to #072B3F (Dark blue).

I'm not sure where that orange came from, I double checked the color pallet above. Once that is complete, let me know and I will discuss imagery with Thabang.

[2020-01-20 20:17] chrisguindon commented on #2
As discussed with Christie, we will need to use a different color than #072B3F.

She will update this bug after picking a new color for us to use.

[2020-01-20 20:50] ChristieWittEclipse commented on #2
@chrisguindon please update the @brand-tertiary: #213970; // Dark Blue
to @brand-tertiary: #FD6C29; // Dark Orange

This color pallet looks nicer:
<img width="775" alt="Screen Shot 2020-01-20 at 3 48 45 PM" src="https://user-images.githubusercontent.com/58480647/72756852-875a4b00-3b9c-11ea-9d44-b5fd57ee026a.png">

[2020-01-20 21:48] chrisguindon commented on #2
Color pallet is updated:
https://eclipsefdn-sparkplug.netlify.com/

[2020-01-21 16:26] ChristieWittEclipse commented on #2
Thanks for updating @chrisguindon I've included updated background images below for the jumbotron section, mailing list section, mission statement, and testimonial section.

[sparkplug-website-images.zip](https://github.com/EclipseFdn/sparkplug.eclipse.org/files/4092096/sparkplug-website-images.zip)

[2020-01-28 18:38] ChristieWittEclipse commented on #2
@chrisguindon here are the logos as discussed.
[Founding Member Logos.zip](https://github.com/EclipseFdn/sparkplug.eclipse.org/files/4124008/Founding.Member.Logos.zip)

[2020-02-03 14:15] chrisguindon commented on #2
The initial look and feel is now live!

@ChristieWittEclipse, the mission background image was updated today and I expect to see it live in the next 15 minutes!

[2020-02-03 16:50] ChristieWittEclipse commented on #2
@chrisguindon thanks! This is very minor, but if you could change the style on the mission statement image slightly, that would be great:
.featured-section-statement {
    background-size: cover;
    background-image: url(../images/mission-statement-image.jpg?2971690…);
    background-position: 0 **50%;**
}

[2020-02-03 17:25] chrisguindon commented on #2
@ChristieWittEclipse Done! Closing this issue! Let's start opening new issues for changes moving forward!

Thx all!

[2020-02-03 17:25] #2 closed, assigned to chrisguindon, ChristieWittEclipse

[2020-02-26 16:24] ChristieWittEclipse opened #8 "Sparkplug logo update to include the ® (registered) symbol"
Please update the first Sparkplug logo instance on the website (top left side) to include the ® (registered) symbol on https://sparkplug.eclipse.org/
I've attached the logo and Sharons approval email.
[sparkplug-update.zip](https://github.com/EclipseFdn/sparkplug.eclipse.org/files/4256888/sparkplug-update.zip)

[2020-02-26 16:36] autumnfound commented on #8
Should I update the first usage of Sparkplug as a product on the home page to have the registered mark as well (mirroring some of our Jakarta.ee treatment)?

![image](https://user-images.githubusercontent.com/23018241/75366157-4684de80-588c-11ea-8810-1e5b5813da97.png)

[2020-02-26 17:47] ChristieWittEclipse commented on #8
@autumnfound yes that would be great, to be consistent with how we're treating the Jakarta EE instance as well.

[2020-02-27 17:43] autumnfound commented on #8
@ChristieWittEclipse the site has been updated, could you just do a quick check to make sure that encompasses everything you need from a legal/design standpoint?

[2020-02-27 19:37] ChristieWittEclipse commented on #8
@autumnfound Looks great, thank you!

[2020-02-27 20:34] #8 closed, assigned to autumnfound

[2020-04-20 09:29] Ioana240 opened #11 "Update the news section on the SparkPlug website"
**News item**
date = "2020-02-20"
title = "New Spec Sparks IIoT Consistency"
link = "https://www.industryweek.com/technology-and-iiot/article/21123089/new-spec-sparks-iiot-consistency"
description = ""

[2020-04-20 09:31] Ioana240 opened #12 "Update the news section on the SparkPlug website"
**News item**
date = "2020-02-17"
title = "Working Group Planning Open IIoT Standard"
link = "https://www.rfidjournal.com/working-group-planning-open-iiot-standard"
description = ""

[2020-04-20 09:34] Ioana240 opened #13 "Update the News section on the SparkPlug website"
**News item**
date = "2020-02-12"
title = "Open, 5G, Edge Dominate ARC Forum Conversations"
link = "https://themanufacturingconnection.com/2020/02/open-5g-edge-dominate-arc-forum-conversations/"
description = ""

[2020-04-20 09:37] Ioana240 opened #14 "Update the news section on the SparkPlug website"
**News item**
date = "2020-02-11"
title = "The Eclipse Foundation Launches the Sparkplug Working Group to Bring Device Communications Standardization to the IIoT"
link = "https://www.arcweb.com/blog/eclipse-foundation-launches-sparkplug-working-group-bring-device-communications"
description = ""

[2020-04-20 09:39] Ioana240 opened #15 "Update the News section on the SparkPlug website"
**News item**
date = "2020-02-08"
title = "Eclipse Foundation Launches Sparkplug Working Group for IoT-Standardization"
link = "https://www.smart-industry.net/eclipse-foundation-launches-sparkplug-working-group-for-iot-standardization/"
description = ""

[2020-04-20 09:42] Ioana240 opened #16 "Update the News section on the SparkPlug website"
**News item**
date = "2020-02-07"
title = "IoT news of the week for Feb. 7, 2020"
link = "https://staceyoniot.com/iot-news-of-the-week-for-feb-7-2020/"
description = ""

[2020-04-20 09:44] Ioana240 opened #17 "Update the News section on the SparkPlug website"
**News item**
date = "2020-02-06"
title = "Work on IoT Device Communication Standardization Begins"
link = "https://www.automationworld.com/communication/news/21114617/work-on-iot-device-communication-standardization-begins"
description = ""

[2020-04-20 09:46] Ioana240 opened #18 "Update the news section on the Sparkplug Website"
**News item**
date = "2020-02-03"
title = "The Eclipse Foundation Announces the Sparkplug Working Group"
link = "https://www.programmableweb.com/news/eclipse-foundation-announces-sparkplug-working-group/announcement/2020/02/03"
description = ""

[2020-04-20 09:49] Ioana240 opened #19 "Update the news section on the SparkPlug website"
**News item**
date = "2020-02-04"
title = "The Eclipse Foundation brings in SparkPlug Working Groups for device communications standardization to IIoT, Industrial Automation"
link = "http://iotinnovator.com/the-eclipse-foundation-brings-in-sparkplug-working-group-for-device-communications-standardization-to-iiot-industrial-automation/"
description = ""

[2020-04-20 09:51] Ioana240 opened #20 "Update the News section on the SparkPlug website"
**News item**
date = "2020-02-04"
title = "Industrial IoT: Eclipse Foundation gründet Sparkplug Working Group"
link = "https://www.heise.de/developer/meldung/Industrial-IoT-Eclipse-Foundation-gruendet-Sparkplug-Working-Group-4652585.html"
description = ""

[2020-04-20 09:53] Ioana240 opened #21 "Update the news section on the SparkPlug website"
**News item**
date = "2020-02-03"
title = "Eclipse Foundation launches Sparkplug Working Group"
link = "https://www.itopstimes.com/iot/eclipse-foundation-launches-sparkplug-working-group/"

[2020-04-20 12:36] Ioana240 opened #22 "Update the event section on the SparkPlug website"
**Describe the bug**
Please update the events section on the SparkPlug website and link the event to this link: https://iot.eclipse.org/eclipse-iot-and-edge-day-san-jose-2020/.

Many thanks!
Ioana

[2020-04-20 15:31] autumnfound commented on #22
Typically we post events with dates and expiration dates. Do we have a date for this yet?

[2020-04-21 07:32] Ioana240 commented on #22
Thank you for letting me know about the process, Martin. I didn't know this. I am checking with the team and will comment here shortly.

Ioana

[2020-04-21 17:23] autumnfound commented on #11
This is live

[2020-04-21 17:23] #11 closed, assigned to nobody

[2020-04-21 17:23] autumnfound commented on #12
This is live

[2020-04-21 17:23] #12 closed, assigned to nobody

[2020-04-21 17:23] autumnfound commented on #13
This is live

[2020-04-21 17:23] #13 closed, assigned to nobody

[2020-04-21 17:23] autumnfound commented on #14
This is live

[2020-04-21 17:23] #14 closed, assigned to nobody

[2020-04-21 17:23] autumnfound commented on #15
This is live

[2020-04-21 17:23] #15 closed, assigned to nobody

[2020-04-21 17:24] autumnfound commented on #16
This is live

[2020-04-21 17:24] #16 closed, assigned to nobody

[2020-04-21 17:24] autumnfound commented on #17
This is live

[2020-04-21 17:24] #17 closed, assigned to nobody

[2020-04-21 17:24] autumnfound commented on #18
This is live

[2020-04-21 17:24] #18 closed, assigned to nobody

[2020-04-21 17:24] autumnfound commented on #19
This is live

[2020-04-21 17:24] #19 closed, assigned to nobody

[2020-04-21 17:25] autumnfound commented on #20
This is live

[2020-04-21 17:25] #20 closed, assigned to nobody

[2020-04-21 17:25] autumnfound commented on #21
This is live

[2020-04-21 17:25] #21 closed, assigned to nobody

[2020-04-28 09:45] Ioana240 commented on #22
Hi everyone,

In the course of today I will have the final dates for this event. I will post the dates in our chat here. Thank you!

-Ioana

[2020-05-11 15:01] GraehamHui opened #26 "Add IoT Developer Survey Banner to Sparkplug.eclipse.org"
Please add the following banner to the sparkplug.eclipse.org website

Banner:
![IoT_Edge Survey Banners_Footers (1)](https://user-images.githubusercontent.com/59481959/81576535-5d5cac80-9376-11ea-8ce7-59e294403658.png)

Link: https://www.surveymonkey.com/r/NSLQWF2
The ad should run from May 11 to June 26 EOD

Please let me know if there's any other info you need.

CC: @Ioana240

[2020-05-11 16:52] chrisguindon commented on #22
Closing this bug for lack of activity.

@Ioana240 please re-open this bug or create a new one once you have more info for us!

[2020-05-11 16:52] #22 closed, assigned to autumnfound

[2020-05-11 22:25] vgriffiths commented on #26
Can you please update the banner with the one that's attached? Same run time and link applies.

Thanks!
Vanessa
![IoT_Edge Survey Banners_Footers (2)](https://user-images.githubusercontent.com/63304511/81618192-d3800400-93b4-11ea-8f43-254cfd37853e.png)

[2020-05-12 15:39] GraehamHui opened #28 "Add Mike's blog to news"
Please add Mike's blog to news on sparkplug.eclipse.org

Title: The 2020 IoT Developer Survey Goes to the Edge
Author: Mike Milinkovich
Date: Monday, May 11, 2020 - 08:30
Summary: Our 2020 IoT Developer Survey is open until June 26, and for the first time, the survey includes questions about how developers are incorporating edge computing technologies into their IoT solutions.

Link: https://blogs

[2020-05-13 15:36] #28 closed, assigned to nobody

[2020-05-22 17:52] shanda-eclipse opened #31 "News item: 2020 IoT developer survey - ubuntu"
**News item**
date = "2020-05-20"
title = "The Eclipse 2020 IoT developer survey is live"
link = "https://ubuntu.com/blog/eclipse-2020-iot-developer-survey-is-live"
description = "The IoT Developer Survey, by The Eclipse Foundation, is the industry’s largest developer survey. These surveys centralise useful, high-level information about the IoT industry."

[2020-05-22 18:41] autumnfound commented on #31
We've made the Edge native update to use newsroom data, so you should be able to update newsroom for this news item without going through Github! Let me know if there are any issues with this!

[2020-05-25 21:09] shanda-eclipse commented on #31
It's live.

[2020-05-25 21:09] #31 closed, assigned to nobody

[2020-06-25 15:40] GraehamHui commented on #26
Hi there, can you change the end date of the survey to July 10th and extend the banner's time on the website until July 10th EOD?

[2020-06-29 17:51] #26 closed, assigned to nobody

[2020-09-18 19:29] flora8984461 opened #38 "Image is a little bit distorted on IE11"
**Describe the bug**
Image is a little bit distorted on IE11

**Screenshots**
![image](https://user-images.githubusercontent.com/39588094/93637402-901d4e00-f9c3-11ea-976d-422f9ba5d56a.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] WIN10
 - Browser [e.g. chrome, safari] IE11

[2020-09-24 09:48] Ioana240 opened #39 "Please add the Sparkplug Membership Prospectus to sparkplug.eclipse.org/"
Hi everyone,

Please add the Sparkplug Membership Prospectus on sparkplug.eclipse.org/.

1. Go to sparkplug.eclipse.org/
2. Go to the "Join" section
3. Replace the title "Contact us about your organization joining the Eclipse Foundation" with "Contact us about your organization joining the Sparkplug Working Group"
4. On the left side of the "Join" page, replace the old content with the content att

[2020-09-25 17:59] ericpoirier commented on #39
Hi Ioana,

Can you provide the Hubspot form ID of the Sparkplug form?

Thanks.

[2020-09-28 13:27] Ioana240 commented on #39
Hi Eric,

This is the HubSpot link: https://f.hubspotusercontent10.net/hubfs/5413615/Sparkplug%20Membership%20Prospectus.pdf

Thanks!

[2020-09-30 08:49] Ioana240 commented on #39
Hi Eric,

Please let me know if you need further details or information before setting the Prospectus live.

Thanks!
Ioana

[2020-09-30 13:03] ericpoirier commented on #39
Me and Ioana had a conversation on Slack and we don't need a form ID for Sparkplug since it is currently using the default form. I will update the patch that I already created to use the default form ID.

[2020-09-30 18:11] #39 closed, assigned to ericpoirier

[2020-10-05 10:23] Ioana240 opened #41 "Please add the Sparkplug membership prospectus in the banner section on sparkplug.eclipse.org"
The goal is to add the Sparkplug membership prospectus in the banner section on sparkplug.eclipse.org

1. Go to https://sparkplug.eclipse.org/
2. In the banner section, add a button on the right side similar to "Join us on Slack" button, see screenshot
3. Add the membership prospectus to the button, link here: https://www.eclipse.org/membership/documents/sparkplug-membership-prospectus.pdf

Thank

[2020-10-07 13:32] chrisguindon opened #42 "Sparkplug website re-design"
Current mock up:
https://sparkplug-working-group.webflow.io/

[2020-10-07 15:56] ericpoirier commented on #42
# Tasks

### UPDATES
 - October 29, 2020 - @chrisguindon - List task update based off the sparkplug website sync meeting with @fdesbiens and @Ioana240
- November 18, 2020 - @ericpoirier - Added new tasks to list after the meeting we had today.

## Header

- [x] Need a transparent png for the Logo
- [x] The image will need to be lighter to be more accessible (Eric)
- [x] The grey button will need t

[2020-10-14 12:36] fdesbiens commented on #42
I discussed the website with the steering committee last week. You will find the answers to your questions below. Please feel free to ping me if you need additional details, @ericpoirier.

This background and the icons at the bottom of the page come from Shutterstock. I suppose we dont have the rights to them in the context of the Shutterstock license. What do you think? The committee is fine with

[2020-10-16 12:50] chrisguindon commented on #41
@flora8984461 can you make sure this gets done today?

[2020-10-16 12:51] chrisguindon commented on #38
Let's hold off for now since @ericpoirier is working on a re-design for the site.

[2020-10-16 12:59] flora8984461 commented on #41
Sure.

[2020-10-16 13:20] flora8984461 commented on #41
Hello @Ioana240 @chrisguindon ,
Please check the preview https://deploy-preview-44--eclipsefdn-sparkplug.netlify.app/

Thanks!

[2020-10-16 15:28] chrisguindon commented on #41
@Ioana240 @fdesbiens I am not convinced that "Membership Prospectus" is the right wording for the button but I defer to both of you on the content. Please let us know if we can merge this as-is.

[2020-10-20 09:01] Ioana240 commented on #41
@chrisguindon @flora8984461 @fdesbiens Thank you for the preview version! For the button, I would add "Download Membership Prospectus" instead of "Membership Prospectus". I still need to make a content change in the pdf document. I am updating the "new" pdf  in the course of this week. Thank you!

[2020-10-20 20:18] flora8984461 commented on #41
@Ioana240 Hi Ioana, please feel free to reopen the issue when you finished the new PDF. Thx!

[2020-10-26 13:26] Ioana240 commented on #41
Hi @flora8984461,

The new updated
[Uploading sparkplug-member-prospectus_-_version_Oct21.pdf…]()
 pdf of the Membership Prospectus is available now, new pdf is attached to the bug.

Hubspot ID link:  https://f.hubspotusercontent10.net/hubfs/5413615/sparkplug-member-prospectus%202020.pdf

Can you please replace the pdf/link:

1.  in the banner section on sparkplug.eclipse.org
2. on https://account

[2020-10-26 15:10] chrisguindon commented on #41
Re-opening since @ericpoirier still needs to update accounts.eclipse.org.

[2020-10-27 12:47] ericpoirier commented on #41
The "contact us" form has been updated with the most up to date PDF
https://accounts.eclipse.org/contact/membership/sparkplug

Let me know if there's anything else.

Thanks.

[2020-10-27 13:00] Ioana240 commented on #41
It looks good, thanks!

[2020-10-29 15:11] chrisguindon commented on #42
@Ioana240

This is the preview url: https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/

[2020-11-02 15:15] ericpoirier commented on #42
@chrisguindon
"Meet Us should link to the sparkplug newsletter (Eric)"

Did you mean Mailing List instead of Newsletter here? If not, can you provide the link to the Sparkplug Newsletter?

Thanks.

[2020-11-02 15:33] chrisguindon commented on #42
+1 It should say mailing-list. I made the edit to the list.

[2020-11-02 19:45] ericpoirier commented on #42
I'm at a point where I need to create the "Resources" page. Is the idea a page similar to the Resources on Iot.eclipse.org?

[2020-11-03 08:59] Ioana240 commented on #42
Hi Eric,

We can create the "Resources" page similar to iot.eclipse.org. @fdesbiens could you please also share your input so that we are sure we are all aligned on this?

Thank you,
Ioana

[2020-11-05 21:22] fdesbiens commented on #42
@ericpoirier @Ioana240 Yes, the IoT format is fine. Thanks!

[2020-11-09 14:12] fdesbiens commented on #42
@ericpoirier @chrisguindon I confirm we cannot use the Shutterstock-licensed icons included in the original wireframe. We need to replace them.

[2020-11-09 14:16] fdesbiens opened #48 "Issues with the events list"
All events currently on the Sparkplug home page are in the past. Yet, they are still displayed.

1. Why did they not vanish? Is there an issue with the expiration logic?

2. All URLs in these events point back to the sparkplug home page, not to the correct websites. Not sure if that is due to the previous point.

Thank you for your assistance!

[2020-11-10 11:25] Ioana240 opened #50 "Please add the Sparkplug webinar on sparkplug.eclipse.org"
Hi everyone

Please add the Sparkplug webinar video on sparkplug.eclipse.org

We can create an (additional third) button titled "Watch our Sparkplug MQTT Webinar" in the header section and upload the YouTube video --> https://www.youtube.com/watch?v=PYYlEktoO-c&list=PLy7t4z5SYNaS3WoylJsNuox2f3t2gpQfK&index=1

When we have the new website with a resources section implemented, we would import the vi

[2020-11-10 14:13] chrisguindon commented on #42
Thanks for letting us know! Did you or @Ioana240  engage with @karenmcnaughton  in order to help you update these assets?

[2020-11-12 13:51] ericpoirier commented on #42
I added the Resources page and block to the redesign layout and I am also using Feather Icons for the News and resources items instead of icons that were provided.

https://github.com/EclipseFdn/sparkplug.eclipse.org/pull/45

[2020-11-16 16:46] ericpoirier opened #51 "Create a Compatibility page for the re-design"
Along with the redesign we are doing, we also need to create a Compatibility page.

We can implement this page once the WG is closer to launching this initiative.

[2020-11-25 13:52] Ioana240 commented on #42
Bio pictures are attached to this comment
![Dominik Obermeier](https://user-images.githubusercontent.com/61757816/100234725-cb8c4980-2f2b-11eb-9c77-070c60e87524.jpg)
![Jeff Knepper](https://user-images.githubusercontent.com/61757816/100234957-1312d580-2f2c-11eb-8b76-97a6a074bd5b.jpg)
![Todd Anslinger](https://user-images.githubusercontent.com/61757816/100235084-3d649300-2f2c-11eb-91a3-a744e173d41d

[2020-11-25 16:10] Ioana240 commented on #42
Here is a document with new icons for the Sparkplug website that would replace the Shutterstock icons --> https://docs.google.com/document/d/1LuJ1zNM4a5h-1muog8nisScMG-6X5N-ePWwenI4RYCI/edit

Thank you!
Ioana

[2020-11-26 20:07] flora8984461 commented on #50
Are we still waiting for inputs from @fdesbiens or we just add the third button in the header now?

[2020-11-26 20:13] flora8984461 commented on #50
Hi @Ioana240 , please check the preview: https://deploy-preview-54--eclipsefdn-sparkplug.netlify.app/
Thanks!

[2020-11-30 08:42] Ioana240 commented on #50
Hi @flora8984461, the preview looks good, thank you!

Ioana

[2020-11-30 15:06] ericpoirier commented on #42
Are those pictures for the Testimonials section?

[2020-11-30 15:26] ericpoirier commented on #42
Hi Ioana,

Can you provide the images in PNG or SVG format?

Thanks.

[2020-11-30 15:28] Ioana240 commented on #42
Hi Eric,

Yes, the photos are for the testimonials section.
I will add tomorrow the images in one of those formats :)

Thanks!

[2020-11-30 15:39] ericpoirier commented on #42
Not sure if I missed it, but did you provide the text for the testimonials?

[2020-11-30 15:41] chrisguindon commented on #42
@Ioana240 These pictures seems to come from an external website... are you sure we have permissions to use them?

[2020-11-30 17:54] #50 closed, assigned to flora8984461

[2020-12-01 08:54] Ioana240 commented on #42
@chrisguindon  That's how the photos have been shared with me via emails. Some of them were sent previously when we had events and we used those.

@ericpoirier There are some testimonials already added in the preview of the website https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/ Are there other testimonials that we should add and I am not aware of? @fdesbiens could you please advise o

[2020-12-01 12:56] ericpoirier commented on #42
@Ioana240 yes you're right, for some reason I thought those testimonials were placeholders.

Would it be possible for you to identify the pictures?

Thanks.

[2020-12-01 14:35] Ioana240 commented on #42
@ericpoirier  I named the pictures when I saved them but they don't seem to appear when I click again on the photo in GitHub. So here are the names enumerated after each picture attached to the bug:
1. Dominik Obermeier - HiveMQ
2. Jeff Knepper - Canary Labs
3. Todd Anslinger - Chevron
4. Don Pearson - Inductive Automation
5. Arlen Nipper - Cirrus Link
Thanks!

[2020-12-01 14:45] ericpoirier commented on #42
Ok thanks!

[2020-12-02 13:45] Ioana240 commented on #42
Hi @ericpoirier,

Here are the icons in png format:

1. Single source of truth
![computing-cloud](https://user-images.githubusercontent.com/61757816/100879802-2d106300-34ac-11eb-89ee-1a32559a623d.png)
2. Decoupled data
![settings](https://user-images.githubusercontent.com/61757816/100879870-474a4100-34ac-11eb-84f5-6c625a017f8a.png)
3. Immediate discovery
![reminder (1)](https://user-images.githubu

[2020-12-02 15:04] ericpoirier commented on #42
Thanks Ioana for providing those graphic elements.

Quick question for the first testimonials block on the home page. Should this always be the same testimonials or should it be different every time the page loads?

Thanks.

[2020-12-02 15:53] Ioana240 commented on #42
@ericpoirier

I suggest the testimonials should be different every time the page loads.

Thanks!

[2020-12-03 18:44] ericpoirier commented on #42
I updated the staging page with the latest changes.

https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/

I also made the First testimonials block dynamic so that a random testimonial show up at every page load.

Note that in the testimonials section, we are still missing one picture for Angus Shih and the logo is showing up. I didn't spend time to fix what the logo looks like because I'm

[2020-12-03 21:21] fdesbiens opened #55 "Add a "Join Us" page"
We missed one of the requirements for the new version of the Sparkplug website. The steering committee expected the "Join Us" button would lead to a dedicated page.

The request is to add the page to the website. The copy for this new page can be found below.

=====
You can join the Sparkplug ecosystem in many different ways. The goal of this page is to explain you how.

### Maintain and evolve th

[2020-12-04 13:33] ericpoirier commented on #55
Hi Frédéric,

I updated the PR that I created to update Sparkplug's design. The Join Us button now links to the join-us page.

https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/

Quick question. Should the link in the Jumbotron also link to the Join Us page or is it Ok for that button to link to Slack link it was previously requested.

Thanks.

[2020-12-04 15:37] ericpoirier commented on #42
@Ioana240 we are still missing the following graphic elements to complete this website's redesign:

- The book
- Picture of Angus Shih
- The background image in the header (not sure if we have rights to use it, please validate)

Thanks.

[2020-12-04 19:37] iskerrett opened #56 "Add link to Sparkplug web page"
For the Sparkplug web site I would suggest in the section 'We need your help...' to add a link to the Sparkplug specification text. Here is the link to use https://www.eclipse.org/tahu/spec/Sparkplug%20Topic%20Namespace%20and%20State%20ManagementV2.2-with%20appendix%20B%20format%20-%20Eclipse.pdf

[2020-12-04 19:47] iskerrett commented on #55
Hi Eric

Thanks for adding the Join Us page.  Is it possible to make sure all of the Join Us buttons are linked to this page? Some still link to the slack channel.

Also will someone add some graphics to the Join Us page. It is pretty boring right now.

[2020-12-04 21:32] chrisguindon commented on #56
Hi @iskerrett!

Just to confirm, the feedback is for the website re-design?
https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/

[2020-12-04 21:34] chrisguindon commented on #51
I would prefer that we focus our effort on finishing the re-design!

We will need a designer to mock this up first.

[2020-12-04 21:36] chrisguindon commented on #51
@shanda-eclipse I was thinking that we might need design help but we might be able to leverage the work that we did for:
https://jakarta.ee/compatibility/

@fdesbiens Are you expecting different requirements than what we see on jakarta.ee?

[2020-12-04 21:37] #48 closed, assigned to chrisguindon

[2020-12-04 21:38] chrisguindon commented on #48
This was fixed a while back!

[2020-12-04 23:43] croundy commented on #55
Thank you @fdesbiens for pulling this all together so quickly. The content looks quite solid, though to address the question from @iskerrett, it does need a little formatting help and perhaps some graphics.

One thing that jumped out at me is the first sentence.

Please replace: You can join the Sparkplug ecosystem in many different ways. The goal of this page is to explain you how.

With: You can

[2020-12-07 12:51] jbknepp opened #57 "Header Quotations"
Header quotation is currently rotating.  This quotation should be fixed and use Arlen's headshot and quote.

[2020-12-07 12:56] jbknepp commented on #55
A few things I noted.

1. Top header quotation is currently cycling; should be static and use only Arlen's quote/headshot
2. Change 'ebook' to download of membership prospectus
3. Add popup or top section featuring the most recent Sparkplug webinar

[2020-12-07 13:38] ericpoirier commented on #55
Hi @jbknepp,

The cycling of the testimonials was something that was requested here:
https://github.com/EclipseFdn/sparkplug.eclipse.org/issues/42#issuecomment-737287214

@Ioana240 are you ok with the decision to make it static content? I just want to make sure everyone is on the same page.

Thanks.

[2020-12-07 13:47] ericpoirier commented on #55
Hi @iskerrett !

I updated the Join Us link in the jumbotron, I believe that was the last link to update.

https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/

Let me know if there's anything else.

Thanks.

[2020-12-07 14:11] autumnfound commented on #57
Where is this happening? I checked the homepage and the testimonials are static there.

[2020-12-07 14:30] fdesbiens commented on #51
@chrisguindon No; we showed the Jakarta EE page to the Sparkplug steering committee and they were fine with the design. There are no specific requirements at this point.

[2020-12-07 14:34] fdesbiens commented on #55
@ericpoirier @Ioana240 About the testimonials: I double-checked my notes and the steering committee explicitly requested the testimonial to be Arlen Nipper's and static. Apologies for any confusion.

[2020-12-07 14:38] fdesbiens commented on #55
@ericpoirier The "Join Us" page looks fine. Is it possible to have a bit more vertical spacing of the L1 (Maintain, Download, ...) and L2 sections?

[2020-12-07 14:57] chrisguindon commented on #51
My question to you was not so much on the design but on the data that we are capturing and displaying to users.

Here an example of the data file:
https://github.com/jakartaee/jakarta.ee/blob/src/data/compatible_products.yml

[code]

Are you expecting Sparkplug to capture different data/links or will it be the same?

[2020-12-07 15:59] ericpoirier commented on #55
Hi @fdesbiens,

I updated the testimonials block to show only Arlen's testimonial.

I also updated the margin of the H2 and H3 to add more spacing. Note that this change is going to reflect on all sub-pages so that the spacing is consistant everywhere.

Let me know if there's anything else.

[2020-12-07 16:06] ericpoirier commented on #57
@autumnfound This is a change to the redesign.

@jbknepp I updated the staging page to display only the one testimonial:
https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/?utm_source=github&utm_campaign=bot_dp

Let me know if there's anything else.

[2020-12-07 16:35] ericpoirier commented on #56
@iskerrett I added a Specification button next to the Join Us button in the section you're talking about.

https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/

Let me know if there's something else to be updated.

Thanks.

[2020-12-08 13:11] Ioana240 commented on #42
@ericpoirier We have a few more updates on this website:

- I am waiting for Angus Shih's bio photo, will keep you posted in the bug when it is available

- Regarding the  "book" section: we will replace that book with the Eclipse Sparkplug Membership Prospectus (Mehrnaz created the design which I have attached in the bug. Please replace "Learn how Eclipse Sparkplug and MQTT technology can transfo

[2020-12-08 19:20] meKokabi commented on #42
Here is the header background image ![SparkPlugHome](https://user-images.githubusercontent.com/75500459/101530788-5e7fa780-3960-11eb-9d89-962607882872.png)
Here is the book image ![bigstock-Grey-Tablet-With-Empty-White-S-299150248](https://user-images.githubusercontent.com/75500459/101530819-650e1f00-3960-11eb-96a7-9eaa67bcd54e.png)

[2020-12-09 15:29] iskerrett commented on #55
The Join Us page is looking a lot better.  There is one formating error. After the section 'Download an open source Sparkplug implementation' there should be another section header titled 'Join the Sparkplug Working Group'.  The text is actually already included in the paragraph about the Tahu download.

[2020-12-09 16:39] ericpoirier commented on #42
Hi @Ioana240 and @meKokabi,

Thanks for providing the updated elements for this.

I made all the changes you both asked for but here are items that are still missing:

Learn more button in jumbotron doesn't have a link
Download button next to the book doesn't have a link
Testimonial picture for Angus Shih

Other then that, let me know if I missed anything.

https://deploy-preview-45--eclipsefdn-sp

[2020-12-10 10:27] Ioana240 commented on #42
Hi @ericpoirier,
The preview looks nice!

- For the learn more button in the jumbotron, please use this link https://sparkplug.eclipse.org/about/faq/

- For the download button next to the book, please add this link: https://f.hubspotusercontent10.net/hubfs/5413615/sparkplug-member-prospectus%202020.pdf

- Angus Shih still hasn't replied to my email regarding the bio photo, we will probably update

[2020-12-10 13:57] ericpoirier commented on #42
Hi @Ioana240,

I made the updates you mentioned in your last comment.

https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/

All that should be missing now is the 1-2-3 icons.

[2020-12-10 14:13] meKokabi commented on #42
HI Eric,
Thanks for your help and update! I just post the icons on Github!
Thanks again,
Mehrnaz

On Thu, Dec 10, 2020 at 8:58 AM Eric Poirier <notifications@github.com>
wrote:

[2020-12-10 14:14] meKokabi commented on #42
![NumberIcons](https://user-images.githubusercontent.com/75500459/101783272-0e235980-3ac8-11eb-94e2-ad0aa9b52e45.png)
Here You Are! The number icons!

[2020-12-10 15:50] ericpoirier commented on #42
Hi @meKokabi,

Thanks for providing the images. I updated the staging page.

https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/

@Ioana240, now that all is missing is the picture for Angus, when can we go live with this redesign?

Thanks.

[2020-12-10 15:58] meKokabi commented on #42
Hi @ericpoirier
My big apologies for asking you to redoing the icons, as clark just asked for one more edits, so this is the new one! Sorry again!
![NumberIcons copy](https://user-images.githubusercontent.com/75500459/101796198-b17b6b00-3ad6-11eb-9efd-c231285c86ac.png)

[2020-12-10 16:09] ericpoirier commented on #42
Hi @meKokabi
No problem, I updated the staging page with the updated icons.

Let me know if there's something else.

Thanks.

[2020-12-11 10:07] Ioana240 commented on #42
Hi @ericpoirier , the page looks good! We don't have further edits or suggestions. I will update the bug with regard to when we can go live with the website.

Thank you!

[2020-12-11 15:18] croundy commented on #42
@ericpoirier site is looking great! A couple of minor nits:

1. Membership Prospectus--remove 2nd "the" so it reads as follows: Learn more about the key benefits of Eclipse Sparkplug membership and how you can contribute to the Sparkplug working group

Also, please flow the text so the word "group" is not left alone on its own line

2. Sparkplug Resources section: Assuming we will turn the headlin

[2020-12-15 14:39] croundy commented on #42
@ericpoirier if we can get these last minor changes made, I think we will be ready to declare victory and get this live. Can we make that happen by tomorrow? Thanks for all your help!

[2020-12-15 17:07] ericpoirier commented on #42
Hi @croundy,

I made the updates and they are now on staging.

https://deploy-preview-45--eclipsefdn-sparkplug.netlify.app/

Let me know if there's anything else.

Thanks.

[2020-12-15 17:12] croundy commented on #42
@ericpoirier looks great! I'm good with going live with this unless @fdesbiens knows of any reasons to hold off.

[2020-12-15 17:58] fdesbiens commented on #42
@ericpoirier @croundy Looks good to me. Release the Kraken!

[2020-12-15 21:09] croundy commented on #42
@ericpoirier please let @fdesbiens and I know once this is live so we can advise the Sparkplug WG. thanks again for all your help!

[2020-12-16 12:39] ericpoirier commented on #42
Hi @croundy,

I'm waiting for @chrisguindon to review the changes that was made for this project. Once that's done, we will push this live.

[2020-12-16 14:07] #42 closed, assigned to ericpoirier, fdesbiens

[2020-12-16 15:07] croundy commented on #42
@ericpoirier @chrisguindon thanks again to both of you! I know how pleased the Sparkplug WG members will be!

[2020-12-16 18:16] ericpoirier commented on #57
This was updated and is now part of the redesign which is live on production.

[2020-12-16 18:16] #57 closed, assigned to ericpoirier

[2020-12-16 18:50] ericpoirier commented on #56
I'm going to close this issue since the redesign is now live on production.

Please reopen if there's an issue.

Thanks.

[2020-12-16 18:50] #56 closed, assigned to ericpoirier

[2020-12-16 18:54] ericpoirier commented on #55
Hi @iskerrett,

I think I might have missed your last comment here.

You want the text to read as follow:

## Download an open source Sparkplug implementation

### Join the Sparkplug Working Group (new section header)

Eclipse Tahu is an open source commercial grade[...]

Thanks

[2020-12-16 18:55] ericpoirier commented on #41
Closing this issue since it was taken care of a few months ago.

[2020-12-16 18:55] #41 closed, assigned to ericpoirier, fdesbiens

[2020-12-17 13:55] ericpoirier commented on #55
Hi @iskerrett,

A fix has been merged and will show up in a few minutes on production.

[2020-12-17 13:55] #55 closed, assigned to ericpoirier

[2021-01-08 20:35] flora8984461 commented on #51
Hi @chrisguindon @fdesbiens

I used the same data copy from Jakarta EE just to display a preview of what it would be looking like on SparkPlug.
Please check:
https://deploy-preview-59--eclipsefdn-sparkplug.netlify.app/compatibility/

We probably do not have SparkPlug 8 or 9, but if we have multi-version compatibilities (like A / B), we can display them in different tabs.

Please feel free to let m

[2021-01-11 15:39] chrisguindon commented on #51
Thanks @flora8984461 for starting this project.

@fdesbiens
Does this meet all  your requirements?

What content should we use here? I am pretty sure we don't want to use the data from jakarta.ee :)

[2021-01-22 21:26] #38 closed, assigned to flora8984461

[2021-03-15 12:29] chrisguindon commented on #51
@fdesbiens,
Do you have content for this page?

[2021-03-15 13:26] shanda-eclipse commented on #51
Adding @Hassanjaber98

[2021-03-15 17:58] fdesbiens commented on #51
@chrisguindon @shanda-eclipse We do not have content yet. We need to launch our compatibility program before we can add content to this page. This will likely happen at the end of Q2 or in Q3 CY 2021. We will update the issue once we are ready.

[2021-03-15 18:52] chrisguindon commented on #51
THanks @fdesbiens. I will unassigned Martin for now. Let me know once we are ready to work on this again!

[2021-04-08 19:17] ZahraFazli opened #63 "Add Opto 22 as Members on Sparkplug WG"
Please add Opto 22 as Strategic Members on the Sparkplug WG
![logo_opto22_gradient_wtagline](https://user-images.githubusercontent.com/50374570/114083825-7834eb00-987d-11eb-92fe-5f1d50a65036.png)

Thanks!

[2021-04-09 19:46] autumnfound commented on #63
Hey @ZahraFazli see https://deploy-preview-64--eclipsefdn-sparkplug.netlify.app/ for a preview of this change!

[2021-04-12 13:29] #63 closed, assigned to autumnfound

[2021-04-12 14:48] jph152 opened #65 "Add Community Meeting video to sparkplug.eclipse.org/resources/"
Please add the video below to the "Videos" section of the Sparkplug Resources page.

https://www.youtube.com/watch?v=CELT1TeYK38

[2021-04-19 14:29] jph152 commented on #65
Hi Martin, do you know when this will go live? Thanks

[2021-04-23 15:28] ZahraFazli opened #67 "Add Flow Software as Participant Member"
Hello,
Please add Flow Software as Participant Member on the Sparkplug working group website
![FLOW Logo - Final Green](https://user-images.githubusercontent.com/50374570/115894119-e99c9e00-a426-11eb-957f-f6aabc9440d6.png)
Thanks,
Zahra

[2021-04-26 20:15] autumnfound commented on #65
This is live as of Friday, apologies for delay!

[2021-04-26 20:15] #65 closed, assigned to autumnfound

[2021-04-26 20:28] jph152 commented on #65
Thanks!

On Mon, Apr 26, 2021 at 4:15 PM Martin Lowe ***@***.***>
wrote:

--

Jacob Harris

Digital Marketing & Content Specialist | Eclipse Foundation
Eclipse Foundation <http://www.eclipse.org/>: The Community for Open
Innovation and Collaboration

[2021-04-27 14:45] autumnfound commented on #67
I've created a patch for this, please see https://deploy-preview-68--eclipsefdn-sparkplug.netlify.app/#members for the preview!

[2021-04-29 18:54] hassanjaber98 opened #69 "Please add the video link to the resources page"
Link: https://www.youtube.com/watch?v=RHJfC43Zeds

pls upload this video link to the resources page at [sparkplug page](https://sparkplug.eclipse.org/resources/).

Tittle: Webinar: Connecting a Smart Factory to the Cloud with MQTT & Sparkplug
Date: April 29,2021
Desc: The movement towards building smart factories is driving the adoption of MQTT and Sparkplug.

[2021-04-29 20:06] #67 closed, assigned to nobody

[2021-04-29 20:11] #69 closed, assigned to nobody

[2021-05-07 13:19] hassanjaber98 opened #71 "Add white paper to sparkplug resources page"
tittle: Intel & ExxonMobil joint public whitepaper on “Transform the Automation & Control of Onshore Oil &Gas Wells and Surface Facilities”.

White paper link : https://www.intel.com/content/www/us/en/energy/resources/exxonmobil-transform-whitepaper.html

Desc: The Universal Wellpad Controller (UWC), developed in collaboration with ExxonMobil, Leverages Off-The-Shelf (OTS) hardware and opensource

[2021-05-10 20:58] fdesbiens opened #72 "Tweaks to the members section of the website"
Hi team.

I would like the following changes be made to the "members" section, please.

- Change the header from "Founding Members" to "Members"
- Remove ORing's logo (and remove their testimonial)
- Add Intel, SignalFire Telemetry and the University of Sheffield

@chrisguindon All of them provided their logos when they joined but let me know if you need assistance in securing some of those.

Than

[2021-05-10 20:58] fdesbiens commented on #71
@chrisguindon Just attracting your attention on this one.

[2021-05-11 12:48] autumnfound commented on #72
If you have png copies of those logos, it may be good to include them in cases like this! Sometimes companies prefer specific logos for certain cases, and it avoids confusion!

[2021-05-11 12:59] autumnfound commented on #71
Preview is now available on https://deploy-preview-73--eclipsefdn-sparkplug.netlify.app/resources/, please let us know if there are any issues, otherwise it will be merged in in a few hours!

[2021-05-11 16:07] hassanjaber98 commented on #71
preview looks good, thank you

[2021-05-11 17:13] #71 closed, assigned to nobody

[2021-05-12 16:46] hassanjaber98 opened #74 "Need to fix the link in the resources page/Sparkplug - MQTT Sparkplug Essentials Part 1 (link broken)"
Pls use the correct link below:
https://www.hivemq.com/blog/mqtt-sparkplug-essentials-part-1-introduction/

Desc: fix the link in the resources page of sparkplug
https://sparkplug.eclipse.org/resources/

[2021-05-17 14:43] linkfang commented on #72
Hi @fdesbiens ,

Please review the changes here:
https://deploy-preview-75--eclipsefdn-sparkplug.netlify.app/

Thanks

[2021-05-17 15:54] fdesbiens commented on #72
Looking good, @linkfang! Thanks.

[2021-05-19 13:31] linkfang commented on #72
Changes are now live:
https://sparkplug.eclipse.org/

[2021-05-19 13:31] #72 closed, assigned to linkfang

[2021-05-20 14:26] linkfang commented on #74
Hi @hassanjaber98 ,

The link has been fixed, please review here:
https://deploy-preview-76--eclipsefdn-sparkplug.netlify.app/resources/

[2021-05-20 14:49] hassanjaber98 commented on #74
Thank You, Hassan JaberProduct Marketing Manager, IoT & Edge computing | Eclipse Foundationeclipse.org | Twitter | LinkedIn | YouTube Eclipse Foundation: The Community for Open Innovation and Collaboration From: Zhou (Link) FangSent: May 20, 2021 10:26 AMTo: EclipseFdn/sparkplug.eclipse.orgCc: Hassan Jaber; MentionSubject: Re: [EclipseFdn/sparkplug.eclipse.org] Need to fix the link in the resource

[2021-05-20 16:22] hassanjaber98 opened #77 "Add this video to the sparkplug resources page"
Desc: Digital Transformation Success Story: How Carrier Corp are leveraging MQTT Sparkplug for their Digital Transformation journey?
Video: Virtual webinar
link : https://inductiveautomation.wistia.com/medias/pepwmxn8jn

Sparkplug resources page: https://sparkplug.eclipse.org/resources/

[2021-05-21 13:20] linkfang commented on #74
The fix is live:
https://sparkplug.eclipse.org/resources/

[2021-05-21 13:20] #74 closed, assigned to linkfang

[2021-05-21 14:16] hassanjaber98 opened #78 "Add this news article to Articles section in the sparkplug resources page"
Desc:

Tittle: How to Connect a Smart Factory and Visualize IIoT Data with MQTT Sparkplug

Link: https://www.hivemq.com/blog/industry-4-0-part1-mqtt-sparkplug-iiot-smart-factory/?utm_content=167554418&utm_medium=social&utm_source=linkedin&hss_channel=lcp-2949784

sparkplug resources page: https://sparkplug.eclipse.org/resources/

[2021-05-21 15:38] linkfang commented on #77
Hi @hassanjaber98 , please review the changes here:
https://deploy-preview-79--eclipsefdn-sparkplug.netlify.app/resources/

As the video is not from YouTube, so video thumbnail won't work properly, and as a result we have to use an image thumbnail for it.

[2021-05-21 16:09] hassanjaber98 commented on #77
Its ok for now, I’ve asked Inductive to provide their YouTube version if possible, once I receive it I’ll open another bug to replace. Hassan JaberProduct Marketing Manager, IoT & Edge computing | Eclipse Foundationeclipse.org | Twitter | LinkedIn | YouTube Eclipse Foundation: The Community for Open Innovation and Collaboration From: Zhou (Link) FangSent: May 21, 2021 11:39 AMTo: EclipseFdn/sparkp

[2021-05-21 17:19] linkfang commented on #77
OK, sounds good!

[2021-05-25 13:24] #77 closed, assigned to linkfang

[2021-05-25 14:24] autumnfound commented on #78
@hassanjaber98 I've created a PR with this change visible on the following page: https://deploy-preview-80--eclipsefdn-sparkplug.netlify.app/resources/

One question, there is no description included. Would you like to add one?

[2021-05-25 14:30] hassanjaber98 commented on #78
 Thanks for flagging it, though my self added desc to the bug request!Desc: In a smart factory and smart manufacturing ecosystem, Its worth explaining how to overcome the challenge of integrating and sharing data between heterogeneous systems and services ?  Hassan JaberProduct Marketing Manager, IoT & Edge computing | Eclipse Foundationeclipse.org | Twitter | LinkedIn | YouTube Eclipse Foundation

[2021-05-25 14:45] autumnfound commented on #78
Added, thanks! Will be live soon

[2021-05-25 15:15] hassanjaber98 commented on #78
Thank you Hassan JaberProduct Marketing Manager, IoT & Edge computing | Eclipse Foundationeclipse.org | Twitter | LinkedIn | YouTube Eclipse Foundation: The Community for Open Innovation and Collaboration From: Martin LoweSent: May 25, 2021 10:46 AMTo: EclipseFdn/sparkplug.eclipse.orgCc: Hassan Jaber; MentionSubject: Re: [EclipseFdn/sparkplug.eclipse.org] Add this news article to Articles section

[2021-06-02 11:53] hassanjaber98 opened #81 "Pls add the below video to Eclipse IoT and Eclipse Sparkplug resources page"
Desc: The use of open source in building IIoT solutions

Link to the video :https://www.youtube.com/watch?v=xtNWYuvUhWo
Eclipse IoT resources page: https://iot.eclipse.org/community/resources/
Eclipse sparkplug resources page:https://sparkplug.eclipse.org/resources/

Thank you,

[2021-06-03 14:59] linkfang opened #82 "Toggle Menu invisible issue + text and image overlap issue in mobile view"
In mobile view, the Humberger Menu will be invisible on the white background image, like so:
![image](https://user-images.githubusercontent.com/43075439/120666150-5e1d2080-c45a-11eb-8e74-8d02526d35dd.png)

Suggest solution: change the colour of Humberger Menu to primary blue.

The text will overlap on the image in some sizes.
![image](https://user-images.githubusercontent.com/43075439/121037838-ca

[2021-06-04 15:09] hassanjaber98 opened #84 "Add this podcast to the resources page in sparkplug webpage"
Desc: Moving Forward With Industry 4.0
Link: https://inductiveautomation.com/resources/podcast/moving-forward-with-industry-40
webpage link: https://sparkplug.eclipse.org/resources/

[2021-06-04 21:38] linkfang commented on #81
Now it's live!

[2021-06-04 21:38] #81 closed, assigned to linkfang

[2021-06-07 14:07] linkfang commented on #81
The changes are live!

[2021-06-07 15:43] linkfang commented on #82
Now the changes are live!

[2021-06-07 15:43] #82 closed, assigned to linkfang

[2021-06-09 13:19] linkfang commented on #84
Now it is live!

[2021-06-09 13:19] #84 closed, assigned to linkfang

[2021-06-09 19:06] autumnfound commented on #78
Closing as this was merged in

[2021-06-09 19:06] #78 closed, assigned to autumnfound

[2021-06-14 13:57] hassanjaber98 opened #87 "Add the blow link to articles part on the resources page on sparkplug"
Desc: MQTT Sparkplug Essentials Part 3 - Publish/Subscribe vs. Poll/Response

Link: https://www.hivemq.com/blog/sparkplug-essentials-part-3-poll-response/
Resource page: https://sparkplug.eclipse.org/resources/

[2021-06-14 15:10] #87 closed, assigned to autumnfound

[2021-06-15 14:40] fdesbiens opened #89 "The "View All Events" link is broken"
![Capture d’écran 2021-06-15 103738](https://user-images.githubusercontent.com/5367020/122072609-bc84c000-cdc5-11eb-8781-bd60eee9f156.png)

The "View All Events" link on the Sparkplug home page leads to a 404 page.

@chrisguindon I wonder if this is linked to the fact we are missing a "View More News" button as well. Filling a separate issue for that one.

Thank you in advance for fixing this!

[2021-06-15 14:42] fdesbiens opened #90 "Add a "View More News" Link to the Sparkplug home page"
There is a list of recent news at the bottom of the Sparkplug home page. It displays the three most recent new items. However, the list is lacking a "View More News" button like the one found on iot.eclipse.org.

![Capture d’écran 2021-06-15 104152](https://user-images.githubusercontent.com/5367020/122073320-551b4000-cdc6-11eb-91c9-49fde5029ca9.png)

@chrisguindon  I wonder if this is linked to is

[2021-06-15 15:22] autumnfound commented on #89
@fdesbiens please see the following for a preview of the fix for this issue! https://deploy-preview-91--eclipsefdn-sparkplug.netlify.app/?utm_source=github&utm_campaign=bot_dp

This wasn't related to the mentioned issue, but is just something that wasn't caught until now.

[2021-06-15 15:24] autumnfound commented on #90
@fdesbiens please see the following link for the fix for this issue! https://deploy-preview-92--eclipsefdn-sparkplug.netlify.app/ The black hover color is resolved by #91, it should inherit the same color used there!

[2021-06-21 15:44] hassanjaber98 opened #93 "Content updates on the IoT WG projects webpage"
1.Rename "ontologies" into "models".

2. Add an "Edge" category with ioFog, fog05, zenoh and Kura as members.

3. Fix some category associations and add projects not currently on the page. I put the latter in bold.

•	Eclipse 4diac - Standards, Tools
•	Eclipse Agail - Gateways
**•	Eclipse Amlen - Standards, Cloud
•	Eclipse Arrowhead - Cloud**
•	Eclipse Californium (Cf) CoAP Framework - Standards,

[2021-06-21 17:39] autumnfound commented on #93
@hassanjaber98 did you mean to post this in the EclipseFdn/iot.eclipse.org repository? We don't do any project displays on this site afaik.

[2021-06-21 17:40] #90 closed, assigned to autumnfound

[2021-06-21 19:23] hassanjaber98 commented on #93
Not to post it, we are revamping the projects page (separate GitHub is
being raised to perform design changes) and I need to update the content
also update the projects list.

On Mon., Jun. 21, 2021, 8:40 p.m. Martin Lowe, ***@***.***>
wrote:

[2021-06-22 11:44] hassanjaber98 opened #94 "Add this blog post to sparkplug resource page"
blog link: https://www.hivemq.com/blog/how-5g-and-mqtt-accelerate-v2x-adaption/?utm_content=170171794&utm_medium=social&utm_source=linkedin&hss_channel=lcp-2949784

Desc: How 5G and MQTT Accelerate Vehicle-2-Everything (V2X) Adoption

sparkplug link : https://sparkplug.eclipse.org/resources/ (Articles section)

[2021-06-23 12:55] hassanjaber98 commented on #93
Can you move this bug request to IoT rep or shall I start new bug there?

[2021-06-23 12:59] #89 closed, assigned to autumnfound

[2021-06-23 15:54] hassanjaber98 opened #95 "Add it to the video section in the sparkplug resources page"
Desc: Ignition Edge At The I/O Level
link:https://www.youtube.com/watch?v=OIS7nMBDnV0
Details: Opto 22 has taken the next step to connect you to the source of your operational data with an Ignition Edge-powered, Ethernet input/output (I/O) module named groov RIO.

[2021-06-24 16:03] autumnfound commented on #94
See https://deploy-preview-96--eclipsefdn-sparkplug.netlify.app/resources/ for preview of this article submission. I'll merge this once I get code review!

[2021-06-24 16:03] autumnfound commented on #95
See https://deploy-preview-97--eclipsefdn-sparkplug.netlify.app/resources/ for a preview of the video entry on the resources page. I'll be merging this once it has been reviewed!

[2021-06-24 16:27] hassanjaber98 commented on #95
+1

[2021-06-24 17:07] #95 closed, assigned to autumnfound

[2021-06-24 17:07] #94 closed, assigned to autumnfound

[2021-07-07 13:28] hassanjaber98 opened #98 "Add the video to the resources page of sparkplug"
link to video:https://www.youtube.com/watch?v=4lunu8XBZqo
tittle: Sparkplug Essentials 01 - Introduction to MQTT Sparkplug
Desc: In this video series, we will introduce the industry-standard protocol MQTT Sparkplug. We will explain why it is different from other communication protocols, and how companies benefit from Sparkplug in their Industrial IoT use cases, making it one of the biggest trends

[2021-07-08 19:35] #98 closed, assigned to autumnfound

[2021-08-09 12:50] hassanjaber98 opened #101 "Add Part 2 video to the sparkplug resources page."
link to video: https://www.youtube.com/watch?v=27_DKWjE3gg

link to page:https://sparkplug.eclipse.org/resources/

Title: Sparkplug Essentials 02 - Requirements for MQTT Sparkplug

Desc: What are the requirements for Sparkplug?

Sparkplug relies heavily on MQTT. In order to use Sparkplug it is important to use an MQTT broker that fully supports the MQTT 3.1.1 specification. It is not possible to u

[2021-08-10 20:20] linkfang commented on #101
Hi @hassanjaber98 , please preview the changes here:
https://deploy-preview-102--eclipsefdn-sparkplug.netlify.app/resources/

[2021-08-10 20:39] hassanjaber98 commented on #101
Thanks, looks good. Hassan JaberProduct Marketing Manager, IoT & Edge computing | Eclipse Foundationeclipse.org | Twitter | LinkedIn | YouTube Eclipse Foundation: The Community for Open Innovation and Collaboration From: Zhou (Link) FangSent: August 10, 2021 4:20 PMTo: EclipseFdn/sparkplug.eclipse.orgCc: Hassan Jaber; MentionSubject: Re: [EclipseFdn/sparkplug.eclipse.org] Add Part 2 video to the s

[2021-08-12 13:26] #101 closed, assigned to linkfang

[2021-08-31 18:03] hassanjaber98 opened #103 "Add video to the resources page of sparkplug"
Video link: https://www.youtube.com/watch?v=PPpdOUYolIY
Tittle: Sparkplug Essentials 04 - Sparkplug Key Principles
Desc: In this video, we introduce you to the eight key principles for MQTT Sparkplug:

1. Publish / Subscribe Architecture
2. Report by Exception
3. Continuous Session Awareness
4. Death and Birth Certificates
5. Persistent Connections
6. Auto Discovery
7. Standardized Payload Definit

[2021-08-31 18:04] hassanjaber98 opened #104 "Add video to resources page of sparkplug"
Video link: https://www.youtube.com/watch?v=qhLYz0sITlw&t=22s
tittle: Sparkplug Essentials 05 - Sparkplug Components
Desc: In this video, we introduce you to the five infrastructure components of Sparkplug:

1. SCADA / IIoT Host
2. Edge of Network (EoN) Nodes
3. Devices / Sensors
4. MQTT Application Nodes
5. MQTT Broker

In detail:
1. SCADA / IIoT Host
It is also called Primary Application. The SC

[2021-09-07 17:32] linkfang commented on #104
Hi @hassanjaber98 ,
Please preview the changes here:
https://deploy-preview-105--eclipsefdn-sparkplug.netlify.app/resources/

Please note, the YouTube URL you offered is pointing to a specific time in the video (22 seconds), I removed the "&t=22s" in it so that it will be played from the beginning.

[2021-09-07 17:34] linkfang commented on #103
Hi @hassanjaber98 ,
Please preview the changes here:
https://deploy-preview-106--eclipsefdn-sparkplug.netlify.app/resources/

[2021-09-07 17:36] hassanjaber98 commented on #103
Thanks looks good!

On Tue., Sep. 7, 2021, 1:34 p.m. Zhou (Link) Fang, ***@***.***>
wrote:

[2021-09-07 17:39] #104 closed, assigned to linkfang

[2021-09-07 17:39] #103 closed, assigned to linkfang

[2021-09-07 17:42] hassanjaber98 commented on #104
Sounds great, thanks!

On Tue., Sep. 7, 2021, 1:33 p.m. Zhou (Link) Fang, ***@***.***>
wrote:

[2021-09-24 12:42] hassanjaber98 opened #107 "Add video to the resources page"
Video link: https://www.youtube.com/watch?v=NKPb0FsM9bg
Tittle: Sparkplug: The Next Phase of Evolution For Industrial Automation | Virtual IoT Meetup
Desc: Digital transformation is changing the face of industrial automation. The proprietary, homogeneous and rigid architectures of yesterday are supplanted by ones that are open, heterogeneous and flexible. MQTT accelerated this transition 20 years

[2021-09-24 15:27] linkfang commented on #107
Hi @hassanjaber98 ,
Please preview the change here:
https://deploy-preview-108--eclipsefdn-sparkplug.netlify.app/resources/

[2021-10-05 18:15] linkfang commented on #107
Hi @hassanjaber98 , just would like to confirm if we are good to push this live?

[2021-10-05 19:09] hassanjaber98 commented on #107
+1

[2021-10-06 12:43] #107 closed, assigned to linkfang

[2021-11-24 16:18] shanda-eclipse opened #110 "Embed membership form on sparkplug.eclipse.org"
Similar to [EclipseFdn/iot.eclipse.org#666](https://github.com/EclipseFdn/iot.eclipse.org/issues/666), we would like to embed the contact us form on sparkplug.eclipse.org. There is currently no link to a contact form on this site, but we will be creating a separate issue shortly to address the menu and will include the link to this new page.

Here is the code to embed the form:
[code]
CC @hassanja

[2021-11-24 17:23] linkfang commented on #110
Hi @shanda-eclipse ,

Please preview the changes here, I added the form in "Join the Sparkplug Working Group" section
https://deploy-preview-111--eclipsefdn-sparkplug.netlify.app/join-us/

The Join Us button in top menu will take users to the new form:
https://deploy-preview-111--eclipsefdn-sparkplug.netlify.app/

[2021-11-24 17:54] shanda-eclipse opened #112 "Update menu in header"
There are some navigation issues on the site. As a simple solution, we would like to update the menu in the header. Here is the menu structure: https://docs.google.com/document/d/1MxFKCDitzssneojAaHi1cAqn-UV6B0I1ouJuE9dF76k/edit?usp=sharing. The "Compatibility" section is still in the works, so we can add it later (depending on when this can be implemented).

CC @hassanjaber98

[2021-11-24 18:02] shanda-eclipse commented on #110
I would actually like the form to be on a new page. I have created a separate issue to address where we will link to the form: https://github.com/EclipseFdn/sparkplug.eclipse.org/issues/112

[2021-11-26 16:40] linkfang commented on #112
Hi @shanda-eclipse ,

1 question.
For the new page for join us form, what URL would you like to use?

We already have a "/join-us" for "Join Us" button, so this is not available.

And if we use "/membership/join-us/", then the page will have a menu level tree like this "Eclipse Sparkplug Working Group  / Membership  / Join Us"
![image](https://user-images.githubusercontent.com/43075439/143610475-4

[2021-11-26 16:54] shanda-eclipse commented on #112
What about "/contact-join-us"? This way we aren't adding a level but if anyone is searching for join-us pages this would (theoretically) come up.

[2021-11-26 17:01] linkfang commented on #112
sounds good!

[2021-11-26 17:52] linkfang commented on #112
Please preview the changes here:
https://deploy-preview-113--eclipsefdn-sparkplug.netlify.app/

new contact form page:
https://deploy-preview-113--eclipsefdn-sparkplug.netlify.app/contact-join-us/

As the embed form change is related to this one, so I include that in this preview.
Now only the "Become a Member" sub-menu will take users to the new contact form and all other "Join us" link/option wi

[2021-11-26 18:52] shanda-eclipse commented on #112
+1 for embedded form

For the menu, can we adjust the order of the menu items? Rather than alphabetical, I would like them in this order:

About
- Sparkplug Specification
- FAQ
- Mailing List
- Slack Channel

Membership
- Value of Membership (I had the wrong link in the doc, this should link to https://f.hubspotusercontent10.net/hubfs/5413615/sparkplug-member-prospectus%202020.pdf)
- Our Members
-

[2021-11-26 19:27] linkfang commented on #112
Sure, here is the new order:
https://deploy-preview-113--eclipsefdn-sparkplug.netlify.app/

[2021-11-26 19:35] shanda-eclipse commented on #112
Sorry, I also had the wrong link for the slack workspace: https://join.slack.com/t/eclipse-sparkplug-wg/shared_invite/zt-btcn48au-luMXPXMbMhBzS4pCaLO6_w

[2021-11-26 20:31] linkfang commented on #112
No worries, Friday's fault

Here is it:
https://deploy-preview-113--eclipsefdn-sparkplug.netlify.app/

[2021-11-26 20:46] shanda-eclipse commented on #112
+1 from me. @hassanjaber98 can you also review and approve?

[2021-12-01 20:11] ericpoirier commented on #112
@hassanjaber98 any objections if we move forward with these changes?

Thanks.

[2021-12-01 21:30] hassanjaber98 commented on #112
+1 @ericpoirier

[2021-12-02 12:39] #112 closed, assigned to linkfang

[2021-12-02 14:23] linkfang commented on #110
The changes are live!

[2021-12-02 14:27] shanda-eclipse commented on #110
I'm getting a 404 error on Membership > Our Members.

[2021-12-02 14:43] linkfang commented on #110
I am surprised it did not show 404 on preview site, will do a quick fix on this.

[2021-12-02 14:56] linkfang commented on #110
Please preview here:
https://deploy-preview-114--eclipsefdn-sparkplug.netlify.app/

This should also work on production site

[2021-12-02 15:37] shanda-eclipse commented on #110
+1. Works on staging, so lets try it on prod.

[2021-12-02 18:46] #110 closed, assigned to linkfang

[2021-12-02 18:59] linkfang commented on #110
I tested on production, and it worked!

[2022-03-14 14:25] chrisguindon commented on #51
@fdesbiens Is this something we are still planning to do?

[2022-03-14 14:47] fdesbiens commented on #51
@chrisguindon Yes! I was about to email you about this.

The Sparkplug specification project team is finalizing work on the first version of the spec under the EFSP. The specification document is nearly done, and TCK coverage is close to 70%. In July, the team expects to submit the spec for ratification to the specification committee.

Given this, we wish to launch the Sparkplug compatibility prog

[2022-03-14 15:51] chrisguindon opened #115 "Migrate website source repository to Eclipse Gitlab"
Over the last few months, we've been busy migrating some of our websites to Eclipse Gitlab:
https://gitlab.eclipse.org/eclipsefdn/it/websites

Today, I would like to recommend that we migrate this website repository under https://gitlab.eclipse.org/eclipsefdn/it/websites

This move makes it easier for foundation staff to collaborate and manage priorities since we can review issues by group https:/

[2022-03-15 15:29] hassanjaber98 opened #116 "Join us form- Adding actual form to join us page"
webpage: https://sparkplug.eclipse.org/join-us/

We need to kindly add the actual join us form that we have here: https://sparkplug.eclipse.org/contact-join-us/ to the above join us part.

[2022-03-21 15:58] linkfang commented on #116
Hi @hassanjaber98 , I added the form at the end of Join Us page and labeled that section as "Become a member", let me know if the position and the title work for you, thanks!

https://deploy-preview-117--eclipsefdn-sparkplug.netlify.app/join-us/#become-a-member

[2022-03-21 17:00] hassanjaber98 commented on #116
@linkfang Thanks, lets pls keep it at the top of the page to match other WG's also we want to stick to Join us.

Reference: https://iot.eclipse.org/membership/join-us/

[2022-03-21 17:19] linkfang commented on #116
Sounds good!
Updated, please preview here:

https://deploy-preview-117--eclipsefdn-sparkplug.netlify.app/join-us/

[2022-03-21 19:39] hassanjaber98 commented on #116
looks good, thank you!

[2022-03-21 20:44] #116 closed, assigned to linkfang

[2022-03-21 20:47] linkfang commented on #116
NP! The change is now live!

[2022-03-25 17:40] chrisguindon commented on #115
The source code of this website has been moved to GL: https://gitlab.eclipse.org/eclipsefdn/it/websites/sparkplug.eclipse.org/

[2022-03-25 17:40] #115 closed, assigned to nobody

[2022-03-25 17:41] chrisguindon commented on #51
This issue has been moved to GL: https://gitlab.eclipse.org/eclipsefdn/it/websites/sparkplug.eclipse.org/-/issues/51

[2022-03-25 17:41] #51 closed, assigned to nobody